@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Slab|Merriweather|Oswald|Roboto+Slab&display=swap");
html {
  font-size: 62.5%; }

body {
  background-color: #eee8d6;
  color: #022933;
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 80%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d14348;
  font-family: "Bree Serif", Helvetica, sans-serif; }

.media {
  list-style: none;
  margin: 0;
  padding: 0; }
  .media .item {
    border-top: 1px dotted #d14348;
    margin-bottom: 20px;
    padding-top: 10px; }
  .media .head {
    color: #0076a3;
    font-size: 2rem;
    margin: 0;
    padding: 0; }
  .media p {
    font-size: 1.5rem;
    margin: 0; }
  .media img {
    float: left;
    margin-right: 10px; }
  .media a {
    color: #022933;
    text-decoration: none; }
